.navbar{
    height: 20px !important;
}
.navbar-item {
    display: flex;
}

.navbar .button{
    margin: 5px;
    padding: 7px;
}

.navbar .select{
    margin: 5px;
}

.hero{
   margin-top: -50px !important
}

#containerTable{
    padding-bottom: 30px;
}

table{
    margin-top: 75px;
    width: 100% !important;
}